body{
  background: #352f5b;
}

.container{
  max-width: 400px;
}

input[type=text],
input[type=text]:focus{
  color: #fff;
  border: none;
  background: rgba(0,0,0,0.2);
  max-width: 400px;
}

.todos li{
  background: #423a6f;
}

.delete{
  cursor: pointer;
}

.filtered{
  display: none !important;
}

.clock{
  margin: 0 auto;
  color: wheat;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: .2em;
}